body {
  margin: 0;
  height: 100vh;             /* full screen height */
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  background: #111;          /* optional background */
}
textarea {
  position: fixed;          /* stays in place even when scrolling */
  bottom: 20px;             /* distance from bottom edge */
  left: 50%;                /* push to horizontal center */
  transform: translateX(-50%); /* offset back by half width */

  z-index: 2;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  resize: none;              /* stops manual resizing */
}
button {
  z-index: 2;
}




/* Fullscreen overlay image */
.overlay-image {
  position: fixed;  /* lock to screen like video */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;       /* above video */
}
.overlay-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills screen */
  opacity: 1;     /* adjust transparency so video is visible */
}
/* Fullscreen video background */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* makes video fill screen without distortion */
  z-index: -1;        /* push behind content */
}